<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>
{if $phone}
<strong>{$options["phone"]["label"]}:</strong>
<p>{$phone}</p>
{/if}
{if $message}
<strong>{$options["message"]["label"]}:</strong>
<p>{$message}</p>
{/if}
</body>
</html>